body{
    font-family: "Raleway", "Ubuntu", sans-serif;
    color: $darkGrey;
}

body *{
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $colorLink;
}

h1, h2, h3, h4, h5{
    margin: 0.2em;
}

h1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;

    @mixin atSmall {
        font-size: 25px;
    }

    @mixin atLarge {
        font-size: 35px;
    }
}

h2{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    @mixin atSmall {
        font-size: 16px;
    }

    @mixin atLarge {
        font-size: 20px;
    }
}

h3{
    font-size: 18px;
    font-weight: 700;

    @mixin atLarge {
        font-size: 20px;
    }
}

h4{
    font-size: 14px;

    @mixin atSmall {
        font-size: 18px;
    }

    @mixin atLarge {
        font-size: 20px;
    }
}

h5{
    font-size: 14px;
    font-weight: 400;

    @mixin atSmall {
        font-size: 18px;
    }

    @mixin atLarge {
        font-size: 20px;
    }
}

input[type=submit], .button{
    min-width: 6em;
    display: inline-block;
    border: 1px solid $colorLink;
    line-height: 2em;
    padding: 0 10px;
    background-color: $colorLink;
    color: white;
}

input[type=text]{
    border: 1px solid $grey;
    line-height: 2em;
    padding: 0 10px;
}